header {
    position: fixed;
    z-index: 10;
    width: 100%;
	background-color: #FFFEF3;
}

.sub {
	display: flex;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
	margin: 10px 107px;
}

.menu-header-2 li {
	font-family: 'Maitree';
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	font-weight: 400;
	text-decoration: none;
	display: flex;
	flex-direction: row;
}

.look {
	width: 140px;
	height: 40px;
	background-color: #FFFEF3;
	border: 1px solid #000000;
	padding-left: 90px;
	background-image: url('../Images/Loupe.svg');
	background-position-x: 20px;
}

.part-bottom {
	display: flex;
	align-items: center;
	border-left: solid 1px black;
	padding-left: 20px;
}

.menu-header-2 {
	display: flex;
	gap: 30px;
    margin: 0 160px 0 0;
}

.part-left {
	padding-right: 20px;
	height: 75px;
}

.logo-auth {
	padding-top: 5%;
}














/* Styles Commun */

body {
	font-size: 18px;
	font-family: 'Maitree';
	background: #FFFEF3;
}

h2 {
	font-weight: 700;
	font-size: 40px;
	font-family: 'Unbounded';
}

h3 {
	font-weight: bold;
	font-size: 26px;
}

button {
	font-size: 18px;
	font-family: 'Maitree';
	background: #FFFEF3;
	padding-left: 10px;
	padding-right: 10px;
}

.container {
	display: flex;
	max-width: 100vh;
	padding-top: 90px;
}

/* Barre de gauche */

.menubarregauche {
	line-height: 70px;
	font-weight: bold;
}

.div1 h3{
	width: 800px;
}

#Juliette {
	padding-left: 60px;
	width: 500px;
}

#photojuliette{
	margin-left: 60px;
	margin-top: 30px;
	border-style: solid;
	border-width: 0.5px;

}

.div1 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 20%;
	gap: 25px;
}

#sedeco{
	margin-top: 140px;
	margin-left: 54px;
	position: center;
	width: 200px;
}

.div2 {
	background: #94BCF9;
	height: 87vh;
	padding: 0px 50px;
	margin-left: 140px;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

.infoContainer {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.profil {
	line-height: 25px;
	border-style: solid;
	border-width: 2px;
	width: 230px;
	margin-right: 10px;
}

.profil li {
	margin: 30px 0 30px 40px;
}

.profil li:nth-child(1){
	color: #FFFFFF;

}

fieldset{
	background-color: #FFFFFF;
	width: 377px;
	border-style: solid;
    border-width: 1px;
}

fieldset p{
	margin-bottom: 25px;
}

.info{
	line-height: 30px;
	padding-left: 40px;
}

legend {
	padding: 20px 0;
}

.info img{
	margin-left: 80px;
}

input{
	border: none;
	border-bottom: 2px solid black;
	width: 280px;
	font-size: 18px;
	font-family: 'Maitree';
	background-image:url('../Images/stylo.svg');
	background-repeat: no-repeat;
	background-position: right;
}

#date{
	background: none;
}

label{
	font-weight: bold;
}

.menubarregauche li:nth-child(2) {
	background-color: #94BCF9;
	width: 450px;
	color: white;
	margin-left: 0px;
}

.menubarregauche li {
	padding-left: 60px;
}

.div3{
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.div2 button{
	border-width: 1px;
}

.div2 button img{
	width: 27px;
	padding-top: 8px;
	padding-right: 5px;
}




















/*Footer*/

footer {
	background-color: black;
    margin-top: 1%;
	color: white;
}

.top-part {
	display: flex;
}

.footer p {
	color: white;
}

.exclu {
	font-weight: bold;
	margin-bottom: 15px;
}

.cookies {
	margin-top: 15px;
}

.cookies a {
	color: white;
}

.logo-authentist {
	margin-bottom: 20px;
}

.reseaux{
	display: flex;
	gap: 20px;
	margin-bottom: 30px;
}

.email {
	width: 300px;
	background: #FFFEF3;
	border: 1px solid #000000;
}

input::placeholder {
    color: #000000;
}

input {
	padding-left: 30px;
}

.ok {
	width: 101px;
	height: 75px;
	background: #94BCF9;
	border: 1px solid #000000;
}

.forme {
	display: flex;
}

.cat {
	font-weight: bold;
	margin-bottom: 20px;
}

.parties {
	margin: 40px 40px 0 40px;
}

.icon-paiement {
	display: flex;
	gap: 20px;
}

.autre {
	display: flex;
}

.separation {
	margin-bottom: 70px;
    line-height: 35px;
}

.foot ul {
	display: flex;
	gap: 20px;
	margin-left: 10px;
}

.foot li{
    font-size: 16px;
}

.final {
    margin-left: 475px;
}

.second-part {
	padding-bottom: 10px;
}
.categories li {
	line-height: 35px;
}

.categories {
	margin-bottom: 40px;
}